ui = true

storage "raft" {
path="{{ raft_storage_path }}"
node_id="{{ vault_node_id }}"

{% for address in groups['vault_servers'] %}
{% if address == inventory_hostname %}
{% else %}
retry_join {
leader_api_addr="http://{{ address }}:8200"
}
{% endif %}
{% endfor %}
}

listener "tcp" {
address="0.0.0.0:8200"
tls_disable="true"
}

seal "awskms" {
region="eu-west-1"
kms_key_id="{{ vault_kms_id.stdout }}"
}

api_addr="http://{{ inventory_hostname }}:8200"
cluster_addr="http://{{ inventory_hostname }}:8201"
